@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --tribute-info-content-width: 500px;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", monospace;
}

main#main {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.55);
    border-radius: 30px;
    box-shadow: 2px 5px 15px 10px gray;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    padding-bottom: 15px;
}

#title > h1 {
    margin: 10px;
    padding: 10px;
    font-size: 45px;
}

#img-div {
    margin: 15px 0px;
    width: 98%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
}

#img figcaption {
    font-size: 10px;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#tribute-info > h2 {
    padding: 20px;
}

#tribute-info div {
    margin-top: 30px;
    width: var(--tribute-info-content-width);
    line-height: 25px;

}

blockquote {
    width: var(--tribute-info-content-width);
    padding: 35px 50px 20px 50px;
    font-style: italic;
    font-weight: 400;
    /* font-size: 20px; */
    letter-spacing: 2px;
}


#main footer {
    /* width: var(--tribute-info-content-width); */
    margin: 30px;
    font-weight: bold;
    font-size: 20px;
    /* letter-spacing: 1px; */
}

#main footer > a {
    color: #0fabd2;
}

.year {
    font-weight: bold;
}