@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --tribute-info-content-width: 500px;
    --tribute-info-content-width-small: 250px;
    --tribute-info-content-width-extra-small: 150px;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", monospace;
}

main#main {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.55);
    border-radius: 30px;
    box-shadow: 2px 5px 15px 10px gray;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    padding-bottom: 15px;
}

#title > h1 {
    margin: 10px;
    padding: 10px;
    font-size: 45px;
}


#img-div {
    padding: 10px;
    margin: 15px 0px;
    width: 98%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
}


#img-div figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img-div figcaption {
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

#tribute-info {
    width: 26%;
}

#tribute-info > h3 {
    padding: 20px;
    margin: 10px;
}

#tribute-info div {
    margin-top: 30px;
    line-height: 25px;
}


#tribute-info li:hover {
    animation-name: scale-up;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}

@keyframes scale-up {
    100% {
        transform: scale(1.25);
        list-style-type: none;
        background-color: rgba(200, 200, 200, 1);
        border-radius: 20px;
        padding: 0px 20px;
        text-align: justify;
    }
}

blockquote {
    width: var(--tribute-info-content-width);
    padding: 35px 50px 20px 50px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 2px;
}


#main footer {
    /* width: var(--tribute-info-content-width); */
    margin: 30px;
    font-weight: bold;
    font-size: 20px;
    /* letter-spacing: 1px; */
}

#main footer > a {
    color: #0fabd2;
}

.year {
    font-weight: bold;
}

@media (max-width: 1100px) {
    #img-div {
        height: 75%;
        width: 95%;
    }

    #img-div img {
        width: 90%;
    }

    #img-div figcaption {
        width: 85%;
    }

    #tribute-info {
        width: 80%;
    }

    #tribute-info > h3 {
        text-align: center;
        padding: 5px;
    }

    #tribute-info div {
        text-align: justify;
    }

    @keyframes scale-up {
        100% {
            transform: scale(1.1);
            b
        }
    }

    #title {
        width: 70%;
        padding: 20px;
        padding-bottom: 10px;
        text-align: center;
    }

    blockquote {
        width: 80%;
        padding: 20px 35px 15px 35px;
        letter-spacing: 0px;
    }

    footer {
        width: 70%;
        text-align: center;
        font-size: 15px;
    }
}

@media (min-width: 1350px) {
    #tribute-info {
        width: 35%;
    }

    #title {
        text-align: center;
    }

    #tribute-info h3 {
        text-align: center;
    }
}